%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  %button.navbar-toggler.navbar-toggler-right{data: {toggle: "collapse", target: "#navbarText"}, aria_controls: "navbarText", aria_expanded: "false", aria_label: "Toggle navigation"}
    %span.navbar-toggler-icon
  %a.navbar-brand
    LOGO
  .collapse.navbar-collapse#navbarText
    %ul.navbar-nav.mr-auto
    %span.navbar-text
      = link_to "Login", "#", class: "mx-5"
      = link_to "Become a Tasker", "#", class: "btn btn-outline-primary"
